.menu-item {
  padding: 4px 16px;
  width: 100%;
  cursor: pointer;
  border-left: 5px solid rgba(255, 255, 255, 0);
}

.menu-item:hover {
  border-left: 5px solid rgba(224,151,68, 0.5);
  background-color:rgba(224,151,68, 0.5);
}

.selected-item {
  border-left: 5px solid #E09744;
}
